<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product form</title>
  </head>
  <body>
    <form action="/add_product" method="post">
      product pid: <input type="number" id="pid" name="pid" /><br />
      product Name: <input type="text" id="pname" name="pname" /><br />
      product Quantity: <input type="text" id="qty" name="qty" /><br />
      product Price: <input type="text" id="price" name="price" />
    </form>
  </body>
</html>
