<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Product form</title>
  </head>
  <body>
    <form action="/update_product" method="post">
      product pid:
      <input
        type="number"
        id="pid"
        name="pid"
        value="<%=product.pid%>"
        readonly
      /><br />
      product Name:
      <input
        type="text"
        id="pname"
        name="pname"
        value="<%=product.pname%>"
      /><br />
      product Quantity:
      <input type="text" id="qty" name="qty" value="<%=product.qty%>" /><br />
      product Price:
      <input type="text" id="price" name="price" value="<%=product.price%>" />
    </form>
  </body>
</html>
