<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Form</title>
</head>
<body>
    <form action="/add_product">
        <table>
            <tr>
                <td>
                    <label for="pid">ID: </label>
                </td>
                <td>
                    <input type="number" name="pid" id="pid">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pname">Name: </label>
                </td>
                <td>
                    <input type="text" name="pname" id="pname">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="qty">Quantity: </label>
                </td>
                <td>
                    <input type="number" name="qty" id="qty">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="price">Price: </label>
                </td>
                <td>
                    <input type="number" name="price" id="price">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>